header{background-color: rgb(93, 64, 196);}
.nav .nav-item .nav-link {color: rgb(0, 0, 0);}
.nav{margin-top: 10px;}
h1{margin-left: 40px;}
#banner .imgbanner{margin-left: 400px;}
#tarjetas .card2{ margin-left: 23%;
margin-top: -25.5%;}
#tarjetas .card3{ margin-left: 46%;
margin-top: -26%;}
#tarjetas .card4{ margin-left: 128%;
margin-top: -140%;}
#ubicacion .mapa{margin-left: 25%;}
#ubicacion{ background-color: aquamarine;}